*{
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}

nav {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-template-rows: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  img {
  width: 200px;
  margin-left: 100px;
  
  }
  ul {
    grid-column: 3;
  
    li {
      display: inline-block;
    
    }
    a{
      text-decoration: none;
      color: #ffffff;
      padding: 14px 16px;
      display: block;
      text-align: center;
    }
  }
}


footer {
  color: rgb(77, 75, 75);
  position: relative;
  bottom: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 5px;
  .media {
    grid-column: 1/4;
    background-color: rgb(255, 254, 254);
    i {
      color: rgb(77, 75, 75);
    }
  }
}